<% if (gear.isNew()) { %>
  <h1 class="gear-form-header">New Gear</h1>
<% } else { %>
  <h1 class="gear-form-header">Update Impressions On Your Gear!</h1>
<% } %>

<% if (gear.isNew()) { %>
<h3>Please select your headphones</h3>

<select id="headphones">
  <% headphones.forEach(function(headphone){ %>
    <option data-id='<%=headphone.escape('id')%>'> <%=headphone.escape('name') %> </option>
  <% }) %>
</select>

<h3>Please select your DAC</h3>

<select id="dacs">
  <% dacs.forEach(function(dac){ %>
    <option data-id='<%=dac.escape('id')%>'> <%=dac.escape('name') %> </option>
  <% }) %>
</select>

<h3>Please select your amplifier</h3>

<select id="amplifiers">
  <% amplifiers.forEach(function(amplifier){ %>
    <option data-id='<%=amplifier.escape('id')%>'> <%=amplifier.escape('name') %> </option>
  <% }) %>
</select>
<br>
<label>
  Upload Image:
  <input type="file" name="image" id="input-gear-image">
</label>
<br>
<label>Title:
  <input type='text' name='title' value='<%=gear.escape('title')%>'>
</label>
<% } %>

<label>Impression:
  <textarea name='impression' value='<%=gear.escape('impression')%>'>
</textarea>

<br>

<img src="" id="preview-post-image" width="50">

<br>

<button class='submit' style="display: inline-block; margin: auto;">Submit</button>
<button class='cancel' style="display: inline-block; margin: auto;">Cancel</button>
