<% if ( gear.upvote().isNew() ){ %>
    <button class="upvote-button">
     &#9650 <br> <%= numUpvoters %>
    </button>
<% }else {%>
  <button class="upvote-button" style="color: red;">
   &#9650 <br> <%= numUpvoters %>
 </button>
<% }%>
<a href=<%="#/gears/"+gear.escape('id')%>>
<img class="thumb" src="<%=gear.escape('image_url')%>">
<item-title><%= gear.escape('title') %></item-title>
<br>
<item-description group>By <%= gear.escape('owner_name') %><img class="item-owner-thumb" src=<%= gear.escape('owner_image_url')%>></item-description>
</a>
<% if ( parseInt(gear.escape('owner_id')) === Sonichunt.currentUser.id ) { %>
  <a class="edit-gear-button">&#10000</a>
  <edit-gear class='<%= "edit-gear-"+ gear.escape('id') %>'>
  </edit-gear>
<% } %>
<% if ( parseInt(gear.escape('owner_id')) === Sonichunt.currentUser.id ) { %>
  <a class="gear-delete"><i class="fa fa-trash-o fa-lg"></i></a>
<% } %>
<div class='<%= "add-to-collection-gear-"+ gear.escape('id') %>' style="display: none;"></div>
