<% if ( review.upvote().isNew() ){ %>
    <button class="upvote-button">
     &#9650 <br> <%= numUpvoters %>
    </button>
<% }else {%>
  <button class="upvote-button" style="color: red;">
   &#9650 <br> <%= numUpvoters %>
 </button>
 <% }%>
<item-title>
<a href=<%="#/reviews/"+review.escape('id')%>><%= review.escape('title') %>
</item-title>
  <br>
  <item-description>By: <%= review.escape('owner_name') %></a></item-description>
<% if ( parseInt(review.escape('owner_id')) === Sonichunt.currentUser.id ) { %>
  <a class="review-delete"><i class="fa fa-trash-o"></i></a>
  <a class="edit-review-button">&#10000</a>
<% } %>
<div class='<%= "edit-review-"+ review.escape('id') %>' style="display: none">
</div>
