<div class="review-show">
  <h1> <%= review.escape('title') %> </h1>
  <h2> By <%= review.escape('owner_name') %> </h2>
  <h2> Score: <%= review.escape('score')%> Out Of 10</h2>
  <br>
  <h2> Description: </h2>
  <p> <%= review.escape('description')%></p>
</div>
<h2> Comments </h2>
<ul class="comments"></ul>
<button class='new-comment-button'>New Comment</button>
<div class="new-comment"></div>
<a href=<%="#/products/" + review.escape('product_id') %>> Back To Product Page </a>
