<!DOCTYPE html>
<html>
<head>
  <title>Sonic Hunt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(window).load(function() {
  	$(".loader").fadeOut("slow");
  })
  </script>
</head>
<body>
<div class="loader"></div>
<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>
